<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>

  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
  <title>login</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
</head>

<body>
<div class="container">

  <form class="login" method="post" action="/login" style="max-width: 330px; margin: auto; padding-top: 40px;">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    <div class="text-center mt-1">
      <div class="form-floating">
        <input name="j_username" type="username" class="form-control" id="username" placeholder="Username">
        <input name="j_password" type="password" class="form-control" id="Password" placeholder="Password">
      </div>

      <div class="mt-2">
        <button class="w-100 btn btn-sm btn-primary" type="submit">Sign in</button>
      </div>

    </div>
  </form>

</div>
</body>
</html>