<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>newUser</title>
</head>
<body>
<div align="center">
  <h2>New User</h2>
  <form th:method="POST" th:action="@{/admin/addUser}" th:object="${user}">
    <table border="0" cellpadding="5">
      <tr>
        <td>Name:</td>
        <td><input name="username"/></td>
      </tr>
      <tr>
        <td>Last Name:</td>
        <td><input name="lastName"/></td>
      </tr>
      <tr>
        <td>Age:</td>
        <td><input name="age"/></td>
      </tr>
      <tr>
        <td>email:</td>
        <td><input name="email"/></td>
      </tr>
      <tr>
        <td>Password:</td>
        <td><input type="password" name="password"/></td>
      </tr>
      <input th:type="checkbox" th:id="1" th:name="ADMIN" th:value="ADMIN">
      <label th:for="ADMIN">Admin</label>
      <input th:type="checkbox" th:id="2" th:name="USER" th:value="USER">
      <label th:for="USER">User</label>
      <tr>
        <td colspan="8"><input type="submit" value="Create!"></td>
      </tr>
    </table>
  </form>
  <br>
  <br>
  <form th:method="get" th:action="@{/admin}">
    <input type="submit" value="return">
  </form>
</div>
</body>
</html>