<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>newUser</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-dark bg-dark shadow-sm">
  <div class="container-fluid">
    <p class="navbar-brand text-white">
      <b><span th:text="${user.getUsername()}"></span></b> with roles:
      <b><span th:text="${user.getRoles()}"></span></b>
    </p>
    <form th:action="@{/logout}" method="post">
      <button type="submit" class="btn btn-dark text-secondary">Logout</button>
    </form>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">

    <div class="col-2 px-0 ">
      <a class="nav-item nav-link" th:href="@{/admin}">Admin</a>
      <ul class="list-group-flush px-0 py-2 ">
        <li class="list-group-item active" aria-current="true">User</li>
      </ul>
    </div>
    <div class="col-sm-10 text-left tab-content bg-light" id="nav-tabContent">
      <div class="tab-pane fade show active tab-content text-left" id="userPanel" role="tabpanel">
        <h1 style="color: black" class="m-10">Admin panel</h1>
        <div class="bg-light">

          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="/admin">Users table</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="/admin/newUser">New User</a>
            </li>
          </ul>
          <bo class="tab-pane fade show active" id="allUsers">
            <div class="gray border">
              <h4 style="text-align: left; margin: 1%"> Add New User</h4>
            </div>
            <div class="sm bg-white border">

              <form class="offset-sm-4 col-sm-4 mt-3 mb-4" th:align="center"
                    th:action="@{/admin/addUser}"
                    th:object="${user}" method="post">
                <label for="name"><b>First name</b></label>
                <input th:name="name" th:type="text" class="form-control" id="name"/>
                <br>
                <label for="lastname"><b>Last name</b></label>
                <input th:name="lastName" th:type="text" class="form-control" id="lastname"/>
                <br>
                <label for="age"><b>Age</b></label>
                <input th:name="age" th:type="number" class="form-control" id="age"/>
                <br>
                <label for="email"><b>E-mail</b></label>
                <input th:name="email" th:type="text" class="form-control" id="email"/>
                <br>
                <label for="username"><b>Username</b></label>
                <input th:name="username" th:type="text" class="form-control" id="username"/>
                <div style="color: red"
                     th:errors="*{username}">Username must be Unique
                </div>
                <br>
                <label for="password"><b>Password</b></label>
                <input th:name="password" th:type="password" class="form-control" id="password"/>
                <br>
                <br>
                <label><b><h4>Role</h4></h3Role></b></label>
                <br>
                <input th:type="checkbox" th:id="1" th:name="ADMIN"
                       th:value="ADMIN">
                <label th:for="ADMIN"><h5>Admin</h5></label>
                <input th:type="checkbox" th:id="2" th:name="USER"
                       th:value="USER">
                <label th:for="USER"><h5>User</h5></label>
                <br><br>
                <button th:type="submit" class="btn btn-success" value="Add User">Add new User</button>
              </form>
            </div>
          </bo>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
</html>
